@import "./variables.css";

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-color: var(--color-bg);
}


.main-layout {
    width: 100%;
    min-height: 100vh;
}
