:root {
    --color-primary: #409eff;
    --color-primary-hover: #66b1ff;
    --color-primary-disabled: #a0cfff;
    --color-primary-active: #2b85e4;
    --color-success: #19be6b;
    --color-warn: #ff9900;
    --color-error: #f66c6c;
    --color-info: #808695;
    --color-text-primary: #333;
    --color-text-regular: #666;
    --color-text-secondary: #999;
    --color-text-desc: #ccc;
    --color-border-1: #e4e4e4;
    --color-border-2: #e9e9e9;
    --color-border-3: #f2f2f2;
    --color-bg: #f5f5f5;
    --color-data-1: #fb6260;
    --color-data-2: #0099ff;
    --color-data-3: #8167F5;
    --color-data-4: #51D351;
    --color-data-5: #FF7A8C;
    --color-data-6: #FFA94C;
    --color-data-7: #73A0FA;
    --color-data-8: #7585A2;
    --color-data-9: #24D2D3;
    --color-data-10: #FEC03D;
    --color-data-11: #52C1F5;
    --color-data-12: #82D588;
}
